<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/subs.css">

<div class="flex-container">
    <div class="container">
        <h1>THANKS FOR JOINING!</h1>
        <p class="lead">You won't get any emails.</p>
        <p>This was a <strong>fake</strong> subscription page.</p><br>
        <form method="GET" action='/'>
            <button>Go Back</button>
        </form>
    </div>
</div>